/* Example Blog.css */
.blog-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 4rem 2rem;
  margin: auto 100px;
}

.blog-card {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.blog-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}


.blog-card-image {
  width: 100%;
  height: 300px;
}

.blog-card-content {
  padding: 1.5rem;
}

.blog-card-content h3 {
  margin: 0 0 0.5rem;
}

.blog-date {
  font-size: 0.9rem;
  color: #777;
  margin-bottom: 1rem;
}

.read-more {
  display: inline-block;
  margin-top: 1rem;
  color: #008c58;
  font-weight: bold;
  text-decoration: none;
}

.read-more:hover {
  text-decoration: underline;
}
.single-post-content {
  padding: 4rem 2rem;
  display: flex;
  justify-content: center;
}

.single-post-content .container {
  max-width: 1000px;
  width: 100%;
}

.post-image {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 2rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.post-body {
  font-size: 1.1rem;
  line-height: 1.8;
  color: #333;
}

.post-date {
  font-size: 1rem;
  color: #ddd;
}

.back-link {
  display: inline-block;
  margin-top: 2rem;
  text-decoration: none;
  color: #008c58;
  font-weight: bold;
}

.back-link:hover {
  text-decoration: underline;
}
