/* Base Section */
.ba-section {
  padding: 35px 0px;
  display: flex;
  margin: 40px 0px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 24px;
  background-color: white;
  
}

.ba-inner-section {
  padding: 0px 32px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 24px;
  background-color: white;
}

/* Button */
.ba-satisfaction-button {
  display: inline-block;
  background-color: #b07473;
  color: white;
  padding: 10px 25px;
  border-radius: 30px;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Image Section */
.ba-image-content {
  flex: 1 1 400px;
  max-width: 600px;
  text-align: center;
  background-color: white;
}
.ba-image1 {
  width: 100%;
  max-width: 500px;
  height: auto;
}

/* Text Section */
.ba-text-content {
  flex: 1 1 400px;
  max-width: 600px;
  background-color: white;
}

.ba-title {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 0.7px;
}

.ba-title > span {
  position: relative;
}
.ba-title span::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #b07473;
  border-radius: 8px;
  left: 0;
  bottom: -12px;
}

.ba-description {
  margin: 32px 0;
  color: #4d4b4b;
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.8rem;
}

.ba-checks {
  margin: 20px 10px;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.7px;
}

.ba-check-first {
  margin-top: 40px;
}
.ba-check-last {
  margin-bottom: 40px;
}

.ba-appointment-btn {
  padding: 18px 24px;
  color: white;
  border: 1px solid transparent;
  border-radius: 50px;
  background-color: #05427c;
  font-size: 20px;
  font-family: 'Rubik', sans-serif;
  letter-spacing: 0.8px;
  cursor: pointer;
  transition: all 0.4s ease;
}
.ba-appointment-btn:hover {
  color: #1A8EFD;
  background-color: transparent;
  border: 1px solid #1A8EFD;
}

/* Tablet View: Below 1000px */
@media screen and (max-width: 1000px) {
  .ba-inner-section {
    flex-direction: column;
    padding: 50px 20px;
    text-align: center;
  }

  .ba-title {
    font-size: 32px;
  }

  .ba-description {
    font-size: 16px;
  }

  .ba-checks {
    font-size: 18px;
  }

  .ba-appointment-btn {
    font-size: 18px;
    padding: 16px 22px;
  }
}

/* Mobile View: Below 600px */
@media screen and (max-width: 600px) {
  .ba-title {
    font-size: 26px;
  }

  .ba-description {
    font-size: 15px;
    margin: 24px 0;
  }

  .ba-checks {
    font-size: 16px;
  }

  .ba-appointment-btn {
    font-size: 16px;
    padding: 14px 18px;
  }

  .ba-image1 {
    max-width: 90%;
  }
}